
@font-face {
    font-family: 'Segoe UI';
    src: url('font/SegoeUI-Italic.woff2') format('woff2'),
    url('font/SegoeUI-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('font/SegoeUI-Bold.woff2') format('woff2'),
    url('font/SegoeUI-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('font/SegoeUI-BoldItalic.woff2') format('woff2'),
    url('font/SegoeUI-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('font/SegoeUI.woff2') format('woff2'),
    url('font/SegoeUI.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('font/SegoeUI-SemiBold.woff2') format('woff2'),
    url('font/SegoeUI-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

body {
    background-image: url("https://files.catbox.moe/zlr1cv.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Segoe UI', sans-serif;
}

.mainContainer {
    width: 100%;
    max-width: 810px; /* This is the width where it stops expanding */
    height: 100vh;
    box-sizing: border-box;
    margin-inline: auto;
}

.infoBox{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 100px;
    right: 0;
    max-width: 810px; /* This is the width where it stops expanding */
    box-sizing: border-box;
    margin-inline: auto;
    vertical-align: top;
}

p,h1,h2,h3,h4,h5,h6,ul,ol {
    margin-left: 5px;
}

/* Media query for smaller screens */
@media (max-width: 1200px) {
    .mainContainer,.infoBox {
        width: 100%;
        float: top;
    }
}

/* Additional responsive adjustments */
@media (max-width: 768px) {

    .window {
        width: 100%;
    }
}